{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">

        <div class="landingpage">
            {{ content }}
            {% for tech in meta.techs %}
                <div class="box {{ tech.class }} ">
                    <a href="{{ base_url }}{{ tech.url }}"><h1>{{ tech.name }}</h1></a>
                </div>
            {% endfor %}
            {# {% for tech in meta.techs %}
            <a href="{{ tech.url }}" title="{{ tech.title }}" role="button">
                <i class="{{ tech.icon }}" aria-hidden="true"></i>
                <span class="sr-only">{{ tech.title }}</span>
            </a> #}
            
        </div>
        
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
